extends ../layout/mainLayout.pug 
block albumPage 
  .myAlbum__container.w-100.bg-white.py-3 
    .myAlbum__header 
      a.btn.btn-success.myAlbum__new-btn(href="/my-albums/new-album") Add new album 
    .myAlbum__body 
      .container
        .row.myAlbum__list
          if albums.length > 0
            each album in albums
              .col-lg-3.col-md-6.col-sm-12
                .myAlbum__item
                  .myAlbum__item-img-list(data-toggle="modal" data-target="#modal__album" + album._id)
                    each photo in album.photos
                      img.myAlbum__item-img-item(src= photo.image, alt="")
                  .myAlbum__item-content
                    p.myAlbum__item-title= album.title
                    a.myAlbum__item-editIcon.d-block(href="my-albums/edit-album/" + album._id) 
                      i(class="fa-solid fa-pen-to-square text-white")
                  if album.mode === "private"
                    .myAlbum__private.bg-white 
                      i(class="fa-solid fa-lock")

                  .fade.modal(id="modal__album" + album._id)
                    .modal-dialog.modal-dialog-centered
                      .modal-content
                        .modal-header
                          h4.modal-title= album.author.firstName + " " + album.author.lastName
                          button.close(type='button' data-dismiss='modal') &times;
                        .modal-body
                          .modal-body-image(id="myCarousel" class="carousel slide" data-ride="carousel")
                            .carousel-inner
                              each photo in album.photos
                                .item.active
                                  img(src= photo.image, alt='Los Angeles')
                            a.left.carousel-control(href='#myCarousel' data-slide='prev')
                              span.glyphicon.glyphicon-chevron-left
                              span.sr-only Previous
                            a.right.carousel-control(href='#myCarousel' data-slide='next')
                              span.glyphicon.glyphicon-chevron-right
                              span.sr-only Next

                          p.modo-body-description.m-0= album.description
                          .like__wrapper.mt-3  
                            p.like__number.mb-0.mr-3= album.likes.length
                            .like__user
                              if album.likes.length <= 1
                                each userLiked,i in album.likes
                                  span.like__user-name= userLiked.nameAuthor
                              else
                                span.like__user-name= album.likes[0].nameAuthor
                                span.like__user-more= ` And ${album.likes.length - 1} more liked` 
                        .modal-footer
                          button.btn.border.border-success(type='button' data-dismiss='modal') Close
          else 
            .none__message
              span You dont have any albums!! 
              a(href="/my-album/new-album") Create now
      nav(aria-label='Page navigation').mt-4
        ul.pagination.justify-content-center.mb-0.flex-wrap
          if page > 1
            li.page-item
              a.page-link(href=`/my-albums/?page=${Number(page) - 1}`) Previous
          - let i = (Number(page) > 2 ? Number(page) - 1 : 1)
          if i !== 1
            li.page-item
              a.page-link(href=`#`) ...
          -for( ; i <= (Number(page) + 1) && i <= totalPage; i++)
            if Number(page) === i 
              li.page-item
                a.page-link.bg-primary.text-white(href=`/my-albums/?page=${i}`)= i
            else 
              li.page-item
                a.page-link(href=`/my-albums/?page=${i}`)= i
            if i === Number(page) + 1 && i < totalPage
              li.page-item
                a.page-link(href=`#`) ...
          if page < totalPage
            li.page-item
              a.page-link(href=`/my-albums/?page=${Number(page) + 1}`) Next
