extends ../layout/defaultLayout.pug 
block forgotPassword 
 .container.mt-5
    .row.justify-content-center
      .col-sm-12.col-md-5.col-lg-4.col-xl-4
        h1.text-center.username-title= `Hi ${userReset.firstName} ${userReset.lastName} ^^` 
        h1.text-center.login-title Reset Password
        .account-wall
          form.form-signin(action=`/auth/forgot-password/${userReset.token}` method="POST")
            input.form-control.mb-2(type='text' placeholder='New password' name="newPassword" required='' autofocus='')
            input.form-control.mb-2(type='text' placeholder='Confirm New Password' name="confirmPassword" required='' autofocus='')

            button.btn.btn-lg.btn-primary.btn-block(type='submit')
              | Reset              
            a.pull-right.need-help.text-center.d-block.mb-0(href='/auth/login') Back to login  
            span.clearfix
        a.text-center.new-account(href='/auth/register') Create an account 

      if success_message.length > 0
        p.success_message= success_message
      if error_message.length > 0
        p.error_message= error_message